Source: wiringpi
Section: electronics
Priority: optional
Maintainer: Dangku <dangku@sinovoip.com>
Standards-Version: 3.8.0
Homepage: https://github.com/Dangku/WiringPi
Build-Depends: debhelper (>= 8)

Package: libwiringpi2
Section: libs
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPIO libraries for Bananapi (runtime).
 Runtime for the popular wiringPi library.

Package: wiringpi
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: gpio utility for Bananapi
 The wiringPi gpio command line utility, for GPIO access on a
 Bananapi from the command line.

Package: libwiringpi-dev
Architecture: arm64
Depends: libwiringpi2 (= ${binary:Version}), libc6-dev, ${misc:Depends}
Suggests: wiringpi
Description: GPIO development library for Bananapi
 Development libraries to allow GPIO access on a Bananapi from C
 and C++ programs.
